*{
    box-sizing: border-box;
}
html{
    font-size: 85%;
}
body{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    background: #f9f9f9;
    margin: 0;
    background: url('../images/mtablur.jpg') no-repeat;
}
a{
    text-decoration: none;
}
form{
    border-radius: 3px;
    padding:10px;
    width:400px;
}
input{
    height: 40px;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: bold;
        width: 100%;
}
input.form-control,input[type='text'],
input[type='password'] {
    width: 100%;
    border: 1px solid #666;
    border-radius: 3px;
    margin-bottom: 10px;   
}
input[type='submit']{
    display: block;
    margin:auto;
    background:#091823;
    border:none;
    color: #fff;
    margin-bottom:20px;
    text-transform: uppercase; 
}
img{
    width:100%;
    height:auto
}
.form_group{
    margin: 0 auto 10px;
    width:100%
}
.login_register_wrap{
    width:400px;
    margin: 85px auto;
}
.login_register_wrap .login_register_top{
    padding:10px 0;
    text-align: center
}
.login_register_wrap .login_register_logo {
    max-width:100px;
    height:100px;
    overflow:hidden;
    margin:auto;
    border: 2px solid #49B4FA;
    border-radius:50%
}
.not-a-member,
.already-a-member {
    display: block;
    padding:10px;
    text-align:center;
    font-weight: bold;
}
.not-a-member a,
.already-a-member a {
    color: #f9f9f9
}
.not-a-member a:hover,
.not-a-member a:focus,
.already-a-member a:hover,
.already-a-member a:focus {
    color:#000;
}