/* Uniform width for browser widths larger than 1200px
   From 1200px slipt into 12 parts
   We have classes large-1(00) to large-12(00)
*/
@media (min-width:1200px){
    .content_wrapper{
        width:1124px
    }    
    .large-12{
        width: 100%;
    }
    .large-11{
        width: 91.666666667%
    }
    .large-10{
        width: 83.333333333%
    }
    .large-9{
        width: 75%
    }
    .large-8{
        width: 66.666666667%
    }
    .large-7{
        width: 58.333333333%
    }
    .large-6{
        width: 50%
    }
    .large-5{
        width: 41.666666667%
    }
    .large-4{
        width: 33.333333333%
    }
    .large-3{
        width: 25%
    }
    .large-2{
        width: 16.666666667%
    }
    .large-1{
        width: 8.333333333%
    }
}
/* Large browser widths Ends */
/*  Medium devices*/
@media (min-width:769px){
    .large-12 {
        width: 100%;
    }

    .large-11 {
        width: 91.666666667%
    }

    .large-10 {
        width: 83.333333333%
    }

    .large-9 {
        width: 75%
    }

    .large-8 {
        width: 66.666666667%
    }

    .large-7 {
        width: 58.333333333%
    }

    .large-6 {
        width: 50%
    }

    .large-5 {
        width: 41.666666667%
    }

    .large-4 {
        width: 33.333333333%
    }

    .large-3 {
        width: 25%
    }

    .large-2 {
        width: 16.666666667%
    }

    .large-1 {
        width: 8.333333333%
    }
}
/*  Medium devices*/
/* Mobile Phone widths Start */
@media (max-width:768px) {
    .content_wrapper {
        width: 100%;
        min-width: 320px;
    }
    .mini-12 {
        width: 100%;
    }
    .mini-11 {
        width: 91.666666667%
    }
    .mini-10 {
        width: 83.333333333%
    }
    .mini-9 {
        width: 75%
    }
    .mini-8 {
        width: 66.666666667%
    }
    .mini-7 {
        width: 58.333333333%
    }
    .mini-6 {
        width: 50%
    }
    .mini-5 {
        width: 41.666666667%
    }
    .mini-4 {
        width: 33.333333333%
    }
    .mini-3 {
        width: 25%
    }
    .mini-2 {
        width: 16.666666667%
    }
    .mini-1 {
        width: 8.333333333%
    }
    /* Render all views as full width on mobile devices */
    .large-1,
    .large-2,
    .large-3,
    .large-4,
    .large-5,
    .large-6,
    .large-7,
    .large-8,
    .large-9,
    .large-10,
    .large-11,
    .large-12{
        width:100%;
    }
    /* Render all views as full width on mobile devices*/
}
/* Mobile Phone widths End */
/* Uniform left and padding for all widths */
.large-1,.large-2,.large-3,.large-4,.large-5,.large-6,.large-7,.large-8,.large-9,.large-10,.large-11,.large-12{
    padding-left: 10px;
    padding-right: 10px;
    position:relative;
    float:left;
}
/* Uniform left and padding for all widths */