.dashboard{
    background:#041526;
    height:auto;
    padding-left:10px;
}
.dashboard .request_content{
    padding-bottom: 10px
}
.request_content .title{
    margin:10px 0;
    font-size: 26px;
    font-weight: 500
}
td span{
    text-align: center;
    display: block
}
.content_wrapper .row > div{
    margin-top:20px;
}
.m-top-20{
    margin-top:20px;
}
.request_pod{
    width:100%;
    height:134px;
    background: #041526
}
.request_pod  div{
    margin:17px auto;
    height:100px;
    text-align: center
}
.request_pod div > span:first-child{
    font-size:40px;
    color:#76a097
}
.request_pod div > span:last-child{
    display: block;font-weight: 700;color:#76a097
}